package pokemon

import "fmt"

templ Main() {
	<span>Hello world</span>
	<button class="bg-indigo-500 text-slate-200 p-3 rounded-xl hover:bg-indigo-700" hx-get="/click" hx-target="previous">Click me</button>
}

templ Click(click int) {
	I was clicked { fmt.Sprint(click) } times!!!
}